h1,
h2,
h3 {
  margin: 0;
}

body {
  font-family: "Roboto", sans-serif;
  color: #434455;
  background-color: #ffffff;
}

ul {
  list-style: none;
  padding-inline-start: 0;
  margin: 0;
}

a {
  text-decoration: none;
}

img {
  display: block;
}

.logo_link {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 117%;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
  margin-right: 76px;
}

.logo_link_style_header {
  color: #2e2f42;
}

.logo_link_style_footer {
  color: #f4f4fd;
}

.header_manu_link {
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

.header_manu_link:hover {
  color: #404bbf;
}

.header_manu_link:focus {
  color: #404bbf;
}

.address {
  font-style: normal;
}

.address_link {
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.02em;
  color: #434455;
}

.address_link:hover {
  color: #404bbf;
}

.address_link:focus {
  color: #404bbf;
}

.hero {
  background-color: #2e2f42;
}

.hero_title {
  font-weight: 700;
  font-size: 56px;
  line-height: 107%;
  letter-spacing: 0.02em;
  color: #ffffff;
  text-align: center;
  margin: 0 auto;
  max-width: 496px;
}

.hero_btn {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.04em;
  color: #ffffff;
  background-color: #4d5ae5;
  margin: 0 auto;
  display: block;
  margin-top: 48px;
  cursor: pointer;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  padding: 16px 32px;
  border: 0;
  min-width: 169px;
}

.hero_btn:hover {
  background-color: #404bbf;
}

.hero_btn:focus {
  background-color: #404bbf;
}

.info_list_item_subtitle {
  font-weight: 500;
  font-size: 20px;
  line-height: 120%;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 8px;
  margin-top: 0;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.info_list_item_text {
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.02em;
  color: #434455;
  margin: 0;
}

.info_list_item {
  margin-right: 24px;
  max-width: 264px;
}

.info_list_item:last-child {
  margin-right: 0;
}

.team {
  background-color: #f4f4fd;
}

.team_title {
  font-weight: 700;
  font-size: 36px;
  line-height: 111%;
  letter-spacing: 0.02em;
  color: #2e2f42;
  text-align: center;
  text-transform: capitalize;
  margin-bottom: 72px;
}

.time_subtitle {
  font-weight: 500;
  font-size: 20px;
  line-height: 120%;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 8px;
}

.time_text {
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.02em;
  color: #434455;
  margin: 0;
}

.time_list_item {
  background-color: #ffffff;
  border-radius: 0 0 4px 4px;

  box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
  width: 264px;
}

.wraper_time_content {
  padding: 32px 16px;
  text-align: center;
}

.portfolio_title {
  font-weight: 700;
  font-size: 36px;
  line-height: 111%;
  letter-spacing: 0.02em;
  color: #2e2f42;
  text-align: center;
  text-transform: capitalize;
  margin-bottom: 72px;
}

.portfolio_subtitle {
  font-weight: 500;
  font-size: 20px;
  line-height: 120%;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 8px;
}

.portfolio_text {
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.02em;
  color: #434455;
  margin: 0;
}

.footer {
  background-color: #2e2f42;
}

.footer_text {
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.02em;
  color: #f4f4fd;
}

.container {
  max-width: 1158px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}

.header .container {
  display: flex;
}

header {
  border-bottom: 1px solid #e7e9fc;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 24px;
  padding-bottom: 24px;
}

.header_navigation {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-right: 332px;
}

.navigation_list {
  display: flex;
  gap: 40px;
}

.address_list {
  display: flex;
  gap: 40px;
}

.hero {
  padding-top: 188px;
  padding-bottom: 188px;
}

.info {
  padding-top: 120px;
  padding-bottom: 120px;
}

.info_list {
  margin: 0;
  display: flex;
}

.team {
  padding-top: 120px;
  padding-bottom: 120px;
}

.team_list {
  display: flex;
  gap: 24px;
  margin: 0;
}

.portfolio {
  padding-top: 120px;
  padding-bottom: 120px;
}

.portfolio_list {
  display: flex;
  flex-wrap: wrap;
  column-gap: 24px;
  row-gap: 48px;
}

.footer {
  padding-top: 100px;
  padding-bottom: 100px;
}

.portfolio_card {
  border: 1px #e7e9fc solid;
  border-top: 0px;
  padding: 32px 16px;
  width: 360px;
  height: 120px;
}

.footer {
  padding: 100px 0;
}

.logo_link_footer {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 117%;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
  display: inline-block;
  margin-bottom: 16px;
}

.info_list_item_box {
  border: 1px solid #8e8f99;
  border-radius: 4px;
  height: 112px;
  background-color: #f4f4fd;
  display: flex;
  align-items: center;
  justify-content: center;
}

.time_icon_list {
  display: flex;
  margin-top: 8px;
  gap: 24px;
}

.time_icon {
  width: 16px;
  height: 16px;
}

.time_link_icon {
  width: 40px;
  height: 40px;
  background-color: #4d5ae5;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.time_link_icon:hover {
  background-color: #31d0aa;
}

/*.portfolio_list_item:hover .portfolio_card {
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
}

.portfolio_list_item:hover .portfolio_subtitle {
  text-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
}*/

.portfolio_list_item:hover {
  box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08);
  background: #fff;
}
.portfolio_card:hover {
  box-shadow: 0 1px 1px 0 rgba(46, 47, 66, 0.16);
  background: #fff;
}

.portfolio_subtitle {
  text-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
  background: #fff;
}
